---
import { siteConfig } from "../config";
---

<section
  id="about"
  style={`--accent-color: ${siteConfig.accentColor}; --dkbg-color: ${siteConfig.dkbackgroundColor};`}
  class="p-8 sm:p-12 md:p-16 lg:p-24 bg-[#f5f5f5] dark:bg-[var(--dkbg-color)] transition-colors duration-300"
>
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-black dark:text-white"
        >
          About Me
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="lg:col-span-8 space-y-8">
        <p
          class="text-lg sm:text-xl md:text-2xl leading-relaxed text-black dark:text-white"
        >
          {siteConfig.aboutMe}
        </p>

        <div class="pt-4">
          <div class="flex flex-wrap gap-3">
            {
              siteConfig.skills.map((skill) => (
                <span class="px-3 sm:px-4 py-1.5 sm:py-2 bg-gray-200 text-black dark:bg-gray-800 dark:text-gray-100 rounded-full text-sm sm:text-base md:text-lg font-medium hover:bg-[var(--accent-color)] hover:text-white dark:hover:bg-[var(--accent-color)] transition-colors duration-200">
                  {skill}
                </span>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
